.container{
  display: grid;
  grid-template-columns:repeat(14,1fr);
  grid-template-rows:repeat(47,70px);
  grid-gap: 3px;

}

#hstartsida{
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}


#hdesigns{
  grid-column: 1/15;
  grid-row: 2/3;
  text-align:center;
}

#sbild4{
  grid-column: 10/15;
  grid-row: 3/10
}

#section21{
  grid-column: 1/10;
  grid-row: 3/4;
}

#section22{
  grid-column: 1/10;
  grid-row: 4/7;
}

#section22{
  grid-column: 1/10;
  grid-row: 7/10;
}

footer{
  grid-column: 1/-1;
  grid-row: 10/12
}

.ok{
  height: 100%;
  width: 100%;
}
.logga{
  height: 70px;
  width: 300px;
}


@media screen and (max-width: 700px) {

#meny{
top: 70px;
width: 20%;
left: 6%;
 font-size: 20px;
 letter-spacing: 7px;
 }


  header{
    grid-column: 1/16;
    grid-row: 1/2
  }

  footer{
    grid-column: 1/-1;
    grid-row: 40/55;
}

    #info{
    width: 30%;
     font-size: 10px;
}

#footer1{
width: 50%;
 font-size: 40px;
}
}
