#hstartsida {
  background-color: #f2f3f4;
  text-align:center;
}

#sbild1 {
  position:relative;
}

#hdesigns {
  background-color: #f5b041;
  text-align:center;
}

#sQuote {
  background-color: #f8f9f9;
  text-align:center;
  color: white;

  border: 2px solid white;
   background-color: #f5b041;
   padding: 52px 14px;
   font-size: 36px;
   cursor: pointer;
   font-family: "Courier New", serif;
  }

#sdesignaeget {
  background-color: #f8f9f9;
  text-align:center;
  color: white;

  border: 2px solid white;
   background-color: #f5b041;
   padding: 14px 14px;
   font-size: 36px;
   cursor: pointer;
   font-family: "Courier New", serif;
  }

#sbefintliga {
  background-color: #f8f9f9;
  text-align:center;
  color: white;

  border: 2px solid white;
   background-color: #f5b041;
   padding: 14px 14px;
   font-size: 36px;
   cursor: pointer;
   font-family: "Courier New", serif;
  }

#sbild2 {
  background-color: #f8f9f9;
}

#hoss {
  background-color: #f5b041;
  text-align:center;
}

#sbild3 {
  position:relative;
}

#sforetaget {
  background-color: #f8f9f9;
  text-align:center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 200px;
}

#hkvantitet {
  background-color: #f5b041;
  text-align:center;
}

#section8 {
  background-color: #f8f9f9;
  text-align: center;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  background-color: #f5b041;
}

h1{
  font-family: "impact", serif;
  font-size: 42px;
  letter-spacing: 5px;
}
h2{
  color:white;
  font-family: "impact", serif;
  font-size: 25px;
  letter-spacing: 7px;
}
h3{
  color: black; font-size: 36px;
  border: 5px;
  font-family: "Courier New", serif;
}
h4{
  color:Black; font-size:26px;
  font-family: "Courier New", serif;
}
h5{
  color:Black; font-size:50px;
  font-family: "Courier New", serif;
}
h6{
  color:Black; font-size: 15px;
  font-family: "Courier New", serif;
}
p{
  color:Black; font-size:8px;
  font-family: "Courier New", serif;
}
a{
  text-decoration: none;
  color: inherit;
}
#footer{
  color:Black; font-size:36px;
  font-family: "impact", serif;
  font-size: 42px;
  letter-spacing: 10px;

}
#logga{

}

#bildtext1{
  color: white;
position: absolute;
top: 50px;
width: 50%;
text-align: center;
left: 40%;
font-family: "Courier New", serif;
font-size: 18px;
}

#bildtext2{
  color: white;
position: absolute;
top: 280px;
width: 15%;
text-align: center;
left: 40%;

border: 2px solid white;
 background-color: #f5b041;
 padding: 14px 14px;
 font-size: 14px;
 cursor: pointer;
 font-family: "Courier New", serif;
}

#bildtext3{
  color: white;
position: absolute;
top: 280px;
width: 15%;
text-align: center;
left: 58%;

border: 2px solid white;
 background-color: #f5b041;
 padding: 14px 14px;
 font-size: 14px;
 cursor: pointer;
 font-family: "Courier New", serif;
}

#bildtext4{
  color: white;
position: absolute;
top: 280px;
width: 15%;
text-align: center;
left: 76%;

border: 2px solid white;
 background-color: #f5b041;
 padding: 14px 14px;
 font-size: 14px;
 cursor: pointer;
 font-family: "Courier New", serif;
}


#Hem{
  color: black;
position: absolute;
top: 90px;
width: 25%;
text-align: center;
left: 6%;

border: 2px solid #f8f9f9;
 background-color: #f8f9f9;
 padding: 14px 14px;
 font-size: 17px;
 cursor: pointer;
 font-family: "impact", serif;
 letter-spacing: 5px;
}
#English{
  color: black;
position: absolute;
top: 150px;
width: 25%;
text-align: center;
left: 6%;

border: 2px solid #f8f9f9;
 background-color: #f8f9f9;
 padding: 14px 14px;
 font-size: 17px;
 cursor: pointer;
 font-family: "impact", serif;
 letter-spacing: 5px;
}

#footer1{
  color: white;
position: absolute;
top: 3260px;
width: 30%;
text-align: center;
left: 5%;

border: 2px solid #f5b041;
 background-color: #f5b041;
 padding: 50px 14px;
 font-size: 40px;
 cursor: pointer;
 font-family: "impact", serif;
 letter-spacing: 10px;
}

#info{
  color: white;
position: absolute;
top: 3365px;
width: 30%;
text-align: center;
left: 5%;

border: 2px solid #f5b041;
 background-color: #f5b041;
 padding: 14px 10px;
 font-size: 15px;
 cursor: pointer;
 font-family: "Courier New", serif;
}

.logga{
  padding-top: 15px;
  padding-bottom: 15px;
}
.ok {
  width: 100%;
}

#mobile {
  display: none;
}

@media (max-aspect-ratio: 1/1) {
  h6{
    color:Black;
    font-size: 11px;
    font-family: "Courier New", serif;
  }
  h4{
    color:Black;
    font-size:16px;
    font-family: "Courier New", serif;
  }

  #mobile {
    display: block;
  }
  #standard {
    display: none;
  }
  #bildtext1{
    font-size: 12px;
  }
  #bildtext2{
    font-size: 14px;
  }
  #bildtext3{
   font-size: 14px;
  }
  #bildtext4{
   font-size: 14px;
  }
  #sdesignaeget{
   padding: 10px 10px;
   font-size: 12px;
  }
  #sbefintliga {
   padding: 10px 10px;
   font-size: 12px;
  }
  #hem{
   font-size: 14px;
   letter-spacing: 7px;
  }
  #English{
   font-size: 15px;
   letter-spacing: 3px;
  }
  #section8{
    font-size: 15px;
  }
  #info{
    font-size: 10px;
  }
  #footer1{
   font-size: 20px;
  }
}
